<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<h1>Anime List</h1>

<div class="anime-list">
    {{ range .Animes }}
    
    <div class="anime-card">
        <h3>{{ .Title }}</h3>
        <image src="{{ .Image }}" width="150px">
        <p>ID: {{ .ID }} Eng name: {{ .TranslatedTitle }}</p>
    </div>
    
    {{ end }}
</div>

<h2>Add anime form</h2>
<form action="/add-anime" enctype="multipart/form-data" method="POST">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title">
    <br>
    
    <label for="translatedTitle">Translated Title:</label>
    <input type="text" name="translatedTitle" id="translatedTitle">
    <br>

    <label for="image">Choose image:</label>
    <input type="file" name="image" id="image">
    <br>

    <label for="id">ID:</label>
    <input type="text" name="id" id="id">
    <br>

    <input type="submit">
</form>

<h2>Delete anime form</h2>
<form action="/delete-anime" method="POST">
    <label for="id">ID</label>
    <input type="text" name="id" id="id">
    <br>

    <input type="submit">
</form>

</body>
</html>