<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Anime added!</h1>
    <p>
        Title: {{ .Title }}
        Translated title: {{ .TranslatedTitle }}
        ID: {{ .ID }}
    </p>
</body>
</html>